.main-cursor,
.secondary-cursor {
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  z-index: 40000;
  transform: translate3d(0, 0, 0);
}

// beige clair #FED9CA
// beige fonce #e89777

// .main-cursor {
//   transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
//   animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
//   mix-blend-mode: difference;
// }

.main-cursor-background {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    // z-index: 20000;

    &:after,
    &:before {
      content: "";
      width: 3px;
      height: 3px;
      border-radius: 50%;
    //   background: blue;
      display: block;
      position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
    }
    &:before {
      left: 10px;
    }

    &:after {
      right: 10px;
    }
}

.secondary-cursor {
  width: 60px;
  height: 60px;
}

.cursor-background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #e89777;
    background: #FED9CA;
    opacity: 0.50;
    position: relative;
    // &:after,
    // &:before {
    //   content: "";
    //   width: 3px;
    //   height: 3px;
    //   border-radius: 50%;
    //   background: blue;
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
    // }
    // &:before {
    //   left: 10px;
    // }

    // &:after {
    //   right: 10px;
    // }
  }


// .slider-drag {
//   .cursor-background {
//     animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards,
//       bgUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;

//     &:after {
//       animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards,
//         translateRightDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
//     }

//     &:before {
//       animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards,
//         translateLeftDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
//     }
//   }

//   .main-cursor {
//     animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
//   }
// }

// .hamburger {
//   .cursor-background {
//     animation: fadeOut 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
//   }

//   .main-cursor-background {
//     animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
//   }
// }




























// .main-cursor {
//     z-index: 10000;
//     border-radius: 50%;
//     width: 80px;
//     height: 80px;
//     border: 1px solid black;
//     pointer-events: none;
//     overflow: hidden;
//     transform: translate3d(0, 0, 0);
//     position: fixed;
// }

// .secondary-cursor {
//     z-index: 20000;
//     border-radius: 50%;
//     width: 80px;
//     height: 80px;
//     border: 1px solid black;
//     pointer-events: none;
//     overflow: hidden;
//     transform: translate3d(0, 0, 0);
//     position: fixed;
// }





// .secondary-cursor {
//     position: absolute;
//     top: 300px;
//     left: 300px;
//     width: 32px;
//     height: 32px;
//     background-color: #ff4141;
//     border-radius: 50%;
//     z-index: 10000;
//     /* z-index: 10000; */
//     pointer-events: none;
// }